.ripple {
    position: relative !important;
    display: inline-block !important;
    /* padding: 12px 36px; */
    /* margin: 10px 0; */
    /* color: #070707; */
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    /* font-size: 18px; */
    /* letter-spacing: 2px; */
    /* border-radius: 40px; */
   /*  background: linear-gradient(90deg, #0162c8, #55e7fc); */
    overflow: hidden !important;
  }

  span.span {
    position: absolute;
    background: #ffffff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
  }
  
  @keyframes animate {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
  
  .services-dropdown:hover .dropdown-menu-hover {
    display: block;
  }
  
  .dropdown-menu-hover {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .my-text {
     margin-top: 0;
     margin-bottom: .5rem;
     font-family: "Mulish";
     font-weight: 800;
     line-height: 1.4;
     color: #1c1d1e
  }
  .text-20 {
     font-size: 20px;
  }
  .text-24 {
     font-size: 24px;
  }